.tuenti__acciones {
  padding: 32px 0px 8px;

  @media (min-width: 1024px) {
    padding: 50px 0px 26px;
  }

  .tuenti__banner--content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    margin: 0 auto;

    @media (min-width: 768px) {
      max-width: 100%;
      width: 90%;
    }

    @media (min-width: 1024px) {
      width: 1200px;
    }

    .tuenti__acciones--left {
      .title {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 0px;
        text-align: center;
        color: var(--color-title);
        width: 328px;

        @media (min-width: 1024px) {
          font-size: 36px;
          line-height: 40px;
          width: 900px;
          margin: 0 auto;
        }
      }

      .text {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: var(--color-body);
        font-weight: 400;
        width: 328px;
        margin: 0 auto 20px;
        letter-spacing: 0.5px;

        @media (min-width: 1024px) {
          font-size: 20px;
          line-height: 40px;
          width: 900px;
        }

        a {
          color: var(--color-primary);
          text-decoration: underline;
        }
      }
    }
  }

  .tuenti__acciones--list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
  }

  .tuenti__acciones--item {
    margin: 0 12px 24px;

    @media (min-width: 1024px) {
      margin: 0 20px 24px;
    }

    &:first-child {
      @media (min-width: 1024px) {
        margin-left: 0px;
      }
    }

    &:nth-child(4n) {
      @media (min-width: 1024px) {
        margin-right: 0px;
      }
    }
  }

  &.tuenti__acciones--v2 {
    background-color: var(--color-purple-0);
  }
}

.tuenti__acciones--card {
  border-radius: 8px;
  border: 1px solid var(--color-silver-50);
  background: var(--color-white);
  box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 152px;
  height: 100%;

  @media (min-width: 1024px) {
    width: 268px;
    flex-direction: row;
    align-items: center;
  }

  .tuenti__acciones--card__left {
    @media (min-width: 1024px) {
      margin-right: 12px;
    }
  }

  .tuenti__acciones--card--icono {
    width: 56px;
    height: 56px;
    margin: 0 auto 12px;
    background-color: var(--color-orange-0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 1024px) {
      width: 64px;
      height: 64px;
      margin: auto;
    }
  }

  .tuenti__acciones--card__image {
    img {
      width: auto;
      height: auto;
    }
  }

  .text {
    color: var(--color-body);
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    display: block;

    @media (min-width: 1024px) {
      text-align: left;
    }
  }

  &.tuenti__acciones--card--v2 {
    .tuenti__acciones--card--icono {
      background-color: var(--color-purple-0);
    }
  }

  &:hover {
    text-decoration: none;
  }
  &.active {
    background-color: var(--color-primary);
    text-decoration: none;

    .tuenti__acciones--card--icono {
      background-color: var(--color-white);
    }

    .text {
      color: var(--color-white);
    }
  }
}
