.benefits--content {
  .benefits--title{
    text-align: left;
  }
  .benefits--title__ti{
    margin-bottom: 0;
    margin-top: 60px;
  }

  .benefits--title__subti{
    font-size: 18px;
  }

  .Swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .swiper-wrapper {
    padding-bottom: 100px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .benefits--content {
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px;
  }

  .benefits--card__top {
    display: flex;
    justify-content: center;
  }

  .benefits--card__mid {
    width: 250px;
  }

  .benefits--card__bottom {
    display: flex;
    justify-content: center;
  }

  .benefits--card__btn {
    font-weight: 700;
  }

  .swiper-pagination{
    margin-bottom: 40px;
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid #5144b8;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: #5144b8;
  }

  @media screen and (min-width: 1024px) {
    .benefits--title{
      text-align: center;
    }

    .benefits--title_subti{
      font-size: 25px;
    }

    .Swiper{
      overflow: visible;
    }

    .swiper-wrapper {
        transform: none !important;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .benefit--item{
      margin-bottom: 10px;
      width: 225px !important;
    }

    .benefits--card__mid {
      width: 200px;
      display: inline;
    }
    .benefits--card__mid__title{
      font-size: 25px;
    }

    .swiper-pagination{
      display: none;
    }
  }

  @media screen and (min-width: 1440px) {
    .benefit--item{
      margin: 0 50px !important;
    }
  }
}
