.tue-benefit-tpl {
    position: relative;
    padding: 50px 0;

    .benefit {
        &__title {
            color: var(--color-title);
        }

        &__title,
        &__subtitle {
            text-align: center;
        }

        &__swiper {
            &.swiper-only {
                &-mobile {
                    .swiper-wrapper {
                        @media (min-width: 992px) {
                            justify-content: center;
                            flex-wrap: wrap;
                            transform: none !important;
                        }

                        >* {
                            @media (min-width: 992px) {
                                flex-shrink: 0;
                                width: 100%;
                                max-width: 100%;
                                margin: 0 0 15px 0 !important;
                                padding: 0 15px;
                            }
                        }
                    }

                    .swiper-slide {
                        @media (min-width: 992px) {
                            flex: 0 0 auto;
                            width: 25% !important;
                        }
                    }

                    .tue-slider-controls {
                        @media (min-width: 992px) {
                            display: none;
                        }
                    }
                }

                &-desktop {
                    .swiper-wrapper {
                        @media (max-width: 991.98px) {
                            flex-wrap: wrap;
                            transform: none !important;
                        }

                        >* {
                            @media (max-width: 991.98px) {
                                flex-shrink: 0;
                                width: 100%;
                                max-width: 100%;
                                margin: 0 0 15px 0 !important;
                                padding: 0 15px;
                            }
                        }
                    }

                    .swiper-slide {
                        @media (max-width: 991.98px) {
                            flex: 0 0 auto;
                            width: 50% !important;
                        }

                        @media (max-width: 767.98px) {
                            flex: 0 0 auto;
                            width: 100% !important;
                        }
                    }

                    .tue-slider-controls {
                        @media (max-width: 991.98px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}