.tue-offer-tpl {
    position: relative;
    padding: 50px 0;

    .offer {
        &-title {
            color: var(--color-title);
        }

        &-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 -12px;

            >* {
                @media (min-width: 992px) {
                    flex-shrink: 0;
                    width: 100%;
                    max-width: 100%;
                    margin: 0 0 12px 0 !important;
                    padding: 0 12px;
                }
            }
        }

        &-col {
            @media (min-width: 576px) {
                flex: 0 0 auto;
                width: 50% !important;
            }

            @media (min-width: 992px) {
                flex: 0 0 auto;
                width: 33.33333% !important;
            }
        }
    }
}