.tue-offer-tpl {
    position: relative;
    padding: 50px 0;

    .offer {
        &-title {
            color: var(--color-title);
            height: 22px;
        }

        &-subtitle {
            text-align: center;
            margin-bottom: 24px;
        }

        &-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 -12px;

            >* {
                @media (min-width: 992px) {
                    flex-shrink: 0;
                    width: 100%;
                    max-width: 100%;
                    margin: 0 0 12px 0 !important;
                    padding: 0 12px;
                }
            }
        }

        &-col {
            @media (min-width: 576px) {
                flex: 0 0 auto;
                width: 50% !important;
            }

            @media (min-width: 992px) {
                flex: 0 0 auto;
                width: 33.33333% !important;
            }
        }
    }

    .offer-underline {
        color: var(--color-primary);
        text-decoration: underline;
    }
    
    &.tue-offer-tpl--v2 {
        .offer-title {
            height: auto;
        }
        .offer-subtitle{
            display: none;
        }
    }
      
}