.tue-tabs-tpl {
    position: relative;
    padding: 50px 0;

    .tabs {
        &__row {
            @media (min-width: 768px) {
                align-items: center;
            }
        }
        &__title {
            text-align: center;
        }

        &__image {
            @media (max-width: 767.98px) {
                order: -1;
                margin-bottom: 18px;
            }
            .picture {
                display: block;

                >img {
                    display: block;
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    margin: 0 auto;
                }
            }
        }

        &__info {
            font-size: 18px;
            line-height: 1.3;
            font-weight: 400;
            margin: 0;

            .info {
                &__object {
                    display: flex;
                    margin-bottom: 16px;

                    .object {
                        &__picture {
                            display: block;
                            margin-right: 12px;

                            >img {
                                display: block;
                                width: auto;
                                height: auto;
                                max-width: 100%;
                                margin: 0 auto;
                            }
                        }

                        &__description {
                            flex: 1;

                            .title {
                                font-size: 18px;
                                line-height: 1.25;
                                font-weight: 700;
                                margin: 0;
                                margin-bottom: 4px;
                                color: var(--color-title);
                            }

                            .description {
                                font-size: 16px;
                                line-height: 1.3;
                                font-weight: 400;
                                margin: 0;

                                >* {
                                    font-size: 16px;
                                    line-height: 1.3;
                                    font-weight: 400;

                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                &__button {
                    text-align: center;
                    margin-bottom: 16px;
                }

                &__visit {
                    display: block;
                    margin: 0 auto;
                    font-size: 16px;
                    text-align: center;

                    >* {
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}