.prv-card {
    &.prv-style-1 {
        width: 100%;
        max-width: 220px;
        margin: 0 auto;
        .prv-card {
            &__image {
                display: block;
                margin: 0 0 15px 0;

                >img {
                    display: block;
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    margin: 0 auto;
                }
            }

            &__body {
                .card {
                    &__title {
                        font-size: 18px;
                        font-weight: 700;
                        text-align: center;
                        line-height: 1.2;
                        color: var(--color-title);
                        margin-bottom: 8px;

                        @media (min-width: 1222px) {
                            font-size: 20px;
                        }
                    }

                    &__description {
                        font-size: 14px;
                        text-align: center;
                        line-height: 1.3;
                        margin-bottom: 0;

                        @media (min-width: 1222px) {
                            font-size: 16px;
                        }

                        >* {
                            font-size: 14px;
                            line-height: 1.3;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            @media (min-width: 1222px) {
                                font-size: 16px;
                            }
                        }
                    }

                    &__button {
                        text-align: center;
                        margin-top: 16px;
                        .tue-btn {
                            width: 100%;
                            max-width: 200px;
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                    }
                }
            }
        }
    }
}