.tuec {
    &__header {
        background: var(--color-primary);
        position: relative;
        display: flex;
        height: 64px;
        padding: 20px 16px;
        justify-content: space-between;
        align-items: center;
        gap: 184px;
        flex-shrink: 0;

        @media (min-width: 992px) {
            height: auto;
            padding: 0;
        }

        .container {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            width: 100%;

            @media (min-width: 1200px) {
                max-width: 1054px;
            }

            @media (min-width: 992px) {
                padding: 0 15px;
            }
        }

        .brand {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1 0 0;
        }

        .navigation {
            position: fixed;
            background: var(--color-white);
            width: 100%;
            height: 100vh;
            top: 100px;
            right: 0;
            transition: all 0.2s linear;
            z-index: 100;
            margin-right: -100%;

            @media (min-width: 992px) {
                position: initial;
                width: auto;
                height: auto;
                display: flex;
                padding: 24px 4px;
                align-items: center;
                gap: 24px;
                margin-right: 0;
                top: auto;
                right: auto;
                background: var(--transparent);
            }

            &.show {
                margin-right: 0;
            }
        }

        .menu {
            &__list {
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                gap: 24px;
                margin: 0;
            }

            &__item {
                >.link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;
                    color: var(--color-white);
                    text-align: center;
                    font-family: var(--fontCatamaran);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 16px;

                    &.accordion__tab--active {
                        +.accordion__panel {
                            visibility: visible;

                            .submenu__item {
                                -webkit-animation-name: slideInLeft;
                                animation-name: slideInLeft;
                                -webkit-animation-duration: 0.3s;
                                animation-duration: 0.3s;
                                -webkit-animation-timing-function: ease-in-out;
                                animation-timing-function: ease-in-out;
                                -webkit-animation-fill-mode: backwards;
                                animation-fill-mode: backwards;
                            }
                        }

                        .icon--toggle {
                            transform: rotate(180deg);
                        }
                    }

                    .icon--toggle {
                        transform: rotate(0deg);
                        transition: all 0.1s;
                    }
                }
            }
        }

        .submenu {
            &__list {
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                background: var(--color-gray-20);
                box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.10);
                position: absolute;
                top: 100%;
                z-index: 1000;

                &.accordion__panel {
                    height: 0;
                    visibility: hidden;
                    overflow: hidden;
                    transition: all ease-in 250ms;
                }
            }

            &__item {
                position: relative;
                width: 100%;

                .link {
                    display: flex;
                    height: 52px;
                    padding: 16px;
                    align-items: center;
                    gap: 12px;
                    color: var(--Brand-Gray-4);
                    font-family: Catamaran;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 27px;

                    .icon {
                        width: 20px;
                        filter: grayscale(1);
                        transition: all 0.25s ease-in-out;
                    }

                    &:hover,
                    &:focus,
                    &:active {
                        color: var(--color-fuchsia-300);
                        text-decoration: none;

                        .icon {
                            filter: grayscale(0);
                        }
                    }
                }

                &:not(:last-child) {
                    .link {
                        border-bottom: 1px solid var(--silver-50);
                    }
                }
            }
        }

        .search {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;

            .link {
                display: flex;
                align-items: center;
                gap: 4px;
                color: var(--color-white);
                text-align: center;
                font-family: var(--fontCatamaran);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
            }
        }

        .login {
            .link {
                border-radius: 28px;
                background: var(--color-blue-300);
                display: flex;
                align-items: center;
                gap: 8px;
                color: var(--color-white);
                text-align: right;
                font-family: var(--fontCatamaran);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 14px;
                padding: 8px 24px;
                height: 40px;
            }
        }

        .badge {
            padding: 0 8px;
            border-radius: 15px;
            background: var(--color-blue-300);
            color: #FFF;
            font-family: var(--fontCatamaran);
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 27px;
            margin-left: 6px;
        }

        .hambMenu {
            @media (min-width: 992px) {
                display: none;
            }

            .btn--menu {
                position: relative;
                width: 32px;
                height: 32px;
                border: 1px solid var(--transparent);
                background: var(--transparent);
                padding: 0;
                margin-left: 0;
                cursor: pointer;

                .text {
                    text-indent: -999999px;
                    display: block;
                }

                .icon-left {
                    transition-duration: 0.25s;
                    position: absolute;
                    height: 2px;
                    width: 10px;
                    top: 14px;
                    background-color: var(--color-white);
                    left: 5px;

                    &:before {
                        transition-duration: 0.25s;
                        position: absolute;
                        width: 10px;
                        height: 2px;
                        background-color: var(--color-white);
                        content: "";
                        top: -6px;
                        left: 0px;
                    }

                    &:after {
                        transition-duration: 0.25s;
                        position: absolute;
                        width: 10px;
                        height: 2px;
                        background-color: var(--color-white);
                        content: "";
                        top: 6px;
                        left: 0px;
                    }
                }

                .icon-right {
                    transition-duration: 0.25s;
                    position: absolute;
                    height: 2px;
                    width: 10px;
                    top: 14px;
                    background-color: var(--color-white);
                    left: 15px;

                    &:before {
                        transition-duration: 0.25s;
                        position: absolute;
                        width: 10px;
                        height: 2px;
                        background-color: var(--color-white);
                        content: "";
                        top: -6px;
                        left: 0;
                    }

                    &:after {
                        transition-duration: 0.25s;
                        position: absolute;
                        width: 10px;
                        height: 2px;
                        background-color: var(--color-white);
                        content: "";
                        top: 6px;
                        left: 0;
                    }
                }

                &.open {
                    .icon-left {
                        transition-duration: 0.25s;
                        background: var(--transparent);

                        &::before {
                            transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
                            top: -8px;
                        }

                        &::after {
                            transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
                            top: 8px;
                        }
                    }

                    .icon-right {
                        transition-duration: 0.25s;
                        background: var(--transparent);

                        &::before {
                            transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
                            top: -8px;
                        }

                        &::after {
                            transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
                            top: 8px;
                        }
                    }
                }
            }
        }
    }
}

@-webkit-keyframes slideInLeft {
    from {
        transform: translate(-25%, 0);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translate(-25%, 0);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}