section.tue-benefit-tpl
  .container 
    .tue-title-content
      h2.benefit__title.tue-title Tuenti es 100% digital
      p.benefit__subtitle.tue-subtitle Despeja tus dudas, revisa nuestra lista de 
        a.tue-underline(href="#") preguntas frecuentes.
      .benefit__swiper.swiper.swiper-only-mobile
        .swiper-wrapper
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
        .tue-slider-controls
          //.tue-slider-btn.swiper-button-prev
              <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
              <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
              </svg>
          .swiper-pagination
          //.tue-slider-btn.swiper-button-next
              <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
              <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
              </svg>

section.tue-benefit-tpl.tue-benefit-tpl--v2
  .container 
    .tue-title-content
      h2.benefit__title.tue-title Tuenti es 100% digital
      p.benefit__subtitle.tue-subtitle Ser de Tuenti es chévere. ¡Pásate con tu mismo número!
      .benefit__swiper.swiper.swiper-only-mobile
        .swiper-wrapper
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
        .tue-slider-controls
          //.tue-slider-btn.swiper-button-prev
              <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
              <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
              </svg>
          .swiper-pagination
          //.tue-slider-btn.swiper-button-next
              <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
              <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
              </svg>
section.tue-benefit-tpl.tue-benefit-tpl--v3
  .container 
    .tue-title-content
      h2.benefit__title.tue-title Tuenti es 100% digital
      p.benefit__subtitle.tue-subtitle Ser de Tuenti es chévere. ¡Pásate con tu mismo número!
      .benefit__swiper.swiper.swiper-only-mobile
        .swiper-wrapper
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
        .tue-slider-controls
          //.tue-slider-btn.swiper-button-prev
              <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
              <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
              </svg>
          .swiper-pagination
          //.tue-slider-btn.swiper-button-next
              <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
              <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
              </svg>
section.tue-benefit-tpl.tue-benefit-tpl--v4
  .container 
    .tue-title-content
      h2.benefit__title.tue-title Tuenti es 100% digital
      p.benefit__subtitle.tue-subtitle Ser de Tuenti es chévere. ¡Pásate con tu mismo número!
      .benefit__swiper.swiper.swiper-only-mobile
        .swiper-wrapper
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
        .tue-slider-controls
          //.tue-slider-btn.swiper-button-prev
              <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
              <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
              </svg>
          .swiper-pagination
          //.tue-slider-btn.swiper-button-next
              <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
              <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
              </svg>
section.tue-benefit-tpl.tue-benefit-tpl--v5
  .container 
    .tue-title-content
      h2.benefit__title.tue-title Tuenti es 100% digital
      p.benefit__subtitle.tue-subtitle Nuestros combos son chéveres como tú, actívalo para que disfrutes del mejor internet móvil y beneficios. Conoce más sobre nuestros 
        a.tue-underline(href="#") planes prepago.
      .benefit__swiper.swiper.swiper-only-mobile
        .swiper-wrapper
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
        .tue-slider-controls
          //.tue-slider-btn.swiper-button-prev
              <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
              <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
              </svg>
          .swiper-pagination
          //.tue-slider-btn.swiper-button-next
              <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
              <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
              </svg>
section.tue-benefit-tpl.tue-benefit-tpl--v6
  .container 
    .tue-title-content
      h2.benefit__title.tue-title Tuenti es 100% digital
      p.benefit__subtitle.tue-subtitle Ser de Tuenti es chévere. ¡Pásate con tu mismo número!
      .benefit__swiper.swiper.swiper-only-mobile
        .swiper-wrapper
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
        .tue-slider-controls
          //.tue-slider-btn.swiper-button-prev
              <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
              <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
              </svg>
          .swiper-pagination
          //.tue-slider-btn.swiper-button-next
              <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
              <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
              </svg>
section.tue-benefit-tpl.tue-benefit-tpl--v7
  .container 
    .tue-title-content
      h2.benefit__title.tue-title Tuenti es 100% digital
      p.benefit__subtitle.tue-subtitle Ser de Tuenti es chévere. ¡Pásate con tu mismo número!
      .benefit__swiper.swiper.swiper-only-mobile
        .swiper-wrapper
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
          .swiper-slide
            .prv-card.prv-style-1
              picture.prv-card__image
                source(media="(min-width: 768px)", srcset="images/beneficio.png")
                img(src="images/beneficio.png", alt="", width="160", height="120")
              .prv-card__body
                h3.card__title App Tuenti
                .card__description
                  p Descárgala y ten a la mano todas tus recargas de manera rápida.
                .card__button
                  a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Recarga por la app
        .tue-slider-controls
          //.tue-slider-btn.swiper-button-prev
              <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
              <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
              </svg>
          .swiper-pagination
          //.tue-slider-btn.swiper-button-next
              <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
              <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
              </svg>