<div class="container benefits--content">
    <div class="benefits--title">
      <h2>Beneficios de pasarte a Tuenti</h2>
      <p>Ser de Tuenti es chévere. ¡Pásate con tu mismo número!</p>
    </div>
    
    <div class="benefits--list__Desktop">
        <div class="benefit--item">
          <div class="benefits--card">
            <div class="benefits--card__top">
              <picture class="benefits--card__image">
                  <source media="(min-width: 1024px)" srcset="images/beneficio.png"><img class="benefits--card__image" src="images/beneficio.png" alt="Beneficio 1">
              </picture>
            </div>
            <div class="benefits--card__mid">
              <h3 class="benefits--card__title">App Tuenti</h3>
              <p class="benefits--card__desc">Descárgala y ten a la mano todas tus recargas de manera rápida.</p>
            </div>
            <div class="benefits--card__bottom">
              <a href="#" class="benefits--card__btn">Recarga por la app</a>
            </div> 
          </div>
        </div>

        <div class="benefit--item">
          <div class="benefits--card">
            <div class="benefits--card__top">
              <picture class="benefits--card__image">
                  <source media="(min-width: 1024px)" srcset="images/beneficio.png"><img class="benefits--card__image" src="images/beneficio.png" alt="Beneficio 2">
              </picture>
            </div>
            <div class="benefits--card__mid">
              <h3 class="benefits--card__title">Portal Web</h3>
              <p class="benefits--card__desc">Recarga desde nuestra web en el dispositivo que te encuentres.</p>
            </div>
            <div class="benefits--card__bottom">
              <a href="#" class="benefits--card__btn">Recarga por la app</a>
            </div> 
          </div>
        </div>

        <div class="benefit--item">
          <div class="benefits--card">
            <div class="benefits--card__top">
              <picture class="benefits--card__image">
                  <source media="(min-width: 1024px)" srcset="images/beneficio.png"><img class="benefits--card__image" src="images/beneficio.png" alt="Beneficio 3">
              </picture>
            </div>
            <div class="benefits--card__mid">
              <h3 class="benefits--card__title">Apps gratis</h3>
              <p class="benefits--card__desc">Usa WhatsApp, Spotify, Google Maps, Uber y Uber Eats sin consumir tus Gigas.</p>
            </div>
            <div class="benefits--card__bottom">
              <a href="#" class="benefits--card__btn">Recarga por la app</a>
            </div> 
          </div>
        </div>

        <div class="benefit--item">
          <div class="benefits--card">
            <div class="benefits--card__top">
              <picture class="benefits--card__image">
                  <source media="(min-width: 1024px)" srcset="images/beneficio.png"><img class="benefits--card__image" src="images/beneficio.png" alt="Beneficio 4">
              </picture>
            </div>
            <div class="benefits--card__mid">
              <h3 class="benefits--card__title">Apps gratis</h3>
              <p class="benefits--card__desc">Usa WhatsApp, Spotify, Google Maps, Uber y Uber Eats sin consumir tus Gigas.</p>
            </div>
            <div class="benefits--card__bottom">
              <a href="#" class="benefits--card__btn">Recarga por la app</a>
            </div> 
          </div>
        </div>
    </div>

    <div class="benefits--list__Mobile Swiper mySwiperBenefit">
      <div class="swiper-wrapper">
        <div class="swiper-slide benefit--item">
          <div class="benefits--card">
            <div class="benefits--card__top">
              <picture class="benefits--card__image">
                <source media="(min-width: 1024px)" srcset="images/beneficio.png"><img class="benefits--card__image" src="images/beneficio.png" alt="Beneficio 1">
              </picture>
            </div>  
            <div class="benefits--card__mid">
              <h3 class="benefits--card__title">Apps gratis 1</h3>
              <p class="benefits--card__desc">Usa WhatsApp, Spotify, Google Maps, Uber y Uber Eats sin consumir tus Gigas.</p>
            </div>
            <div class="benefits--card__bottom">
              <a href="#" class="benefits--card__btn">Recarga por la app</a>
            </div> 
          </div>
        </div>
        <div class="swiper-slide benefit--item">
          <div class="benefits--card">
            <div class="benefits--card__top">
              <picture class="benefits--card__image">
                <source media="(min-width: 1024px)" srcset="images/beneficio.png"><img class="benefits--card__image" src="images/beneficio.png" alt="Beneficio 1">
              </picture>
            </div>  
            <div class="benefits--card__mid">
              <h3 class="benefits--card__title">Apps gratis 2</h3>
              <p class="benefits--card__desc">Usa WhatsApp, Spotify, Google Maps, Uber y Uber Eats sin consumir tus Gigas.</p>
            </div>
            <div class="benefits--card__bottom">
              <a href="#" class="benefits--card__btn">Recarga por la app</a>
            </div> 
          </div>
        </div>
        <div class="swiper-slide benefit--item">
          <div class="benefits--card">
            <div class="benefits--card__top">
              <picture class="benefits--card__image">
                <source media="(min-width: 1024px)" srcset="images/beneficio.png"><img class="benefits--card__image" src="images/beneficio.png" alt="Beneficio 1">
              </picture>
            </div>  
            <div class="benefits--card__mid">
              <h3 class="benefits--card__title">Apps gratis 3</h3>
              <p class="benefits--card__desc">Usa WhatsApp, Spotify, Google Maps, Uber y Uber Eats sin consumir tus Gigas.</p>
            </div>
            <div class="benefits--card__bottom">
              <a href="#" class="benefits--card__btn">Recarga por la app</a>
            </div> 
          </div>
        </div>
        <div class="swiper-slide benefit--item">
          <div class="benefits--card">
            <div class="benefits--card__top">
              <picture class="benefits--card__image">
                <source media="(min-width: 1024px)" srcset="images/beneficio.png"><img class="benefits--card__image" src="images/beneficio.png" alt="Beneficio 1">
              </picture>
            </div>  
            <div class="benefits--card__mid">
              <h3 class="benefits--card__title">Apps gratis 4</h3>
              <p class="benefits--card__desc">Usa WhatsApp, Spotify, Google Maps, Uber y Uber Eats sin consumir tus Gigas.</p>
            </div>
            <div class="benefits--card__bottom">
              <a href="#" class="benefits--card__btn">Recarga por la app</a>
            </div> 
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>     
    </div>
</div>   