section.pvr__banner.pvr__banner--v1.pvr__banner--bkg-green
    .pvr__banner--content
        .pvr__banner--left
            h1.title Ahorra para tus sueños, construye tu futuro.
            p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
            .pvr__banner--btn--content
                a(href="#").pvr__banner--btn.prv-btn.prv-btn--round-corner.prv-btn--orange Afiliate a Porvenir
            
        .pvr__banner--right 
            picture.pvr__banner--image
                source(media="(min-width: 1024px)" srcset="images/Banner-Family-desktop.png")
                img(src="images/Banner-Family-mobile.png", alt="").picture

section.pvr__caracteristicas.prv-bg-white-300.prv-bg-green-90deg-2
    .pvr__caracteristicas--content 
        ul.pvr__caracteristicas--list
            li.pvr__caracteristicas--item
                .pvr__caracteristicas--item--content
                    .pvr__caracteristicas--item--image
                        img(src="images/Icono-Pension-Obligatorias.png", alt="")
                    h2.title Pensiones Obligatorias
                    p.text La pensión obligatoria es el derecho que construyes mediante los aportes que realizas para pensión.
                    ul.btn__list
                        li
                            a(href="#" target="_blank").btn__item
                                span.btn__item--info
                                    span.btn__item--number 01
                                    span.btn__item--text Asesoría pensional
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 02
                                    span.btn__item--text Certificado de afiliación
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 03
                                    span.btn__item--text Requisitos para pensionarse
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 04
                                    span.btn__item--text Extracto o saldo
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
            li.pvr__caracteristicas--item
                .pvr__caracteristicas--item--content
                    .pvr__caracteristicas--item--image
                        img(src="images/Icono-Cesantias.png", alt="")
                    h2.title Pensiones Obligatorias
                    p.text La pensión obligatoria es el derecho que construyes mediante los aportes que realizas para pensión.
                    ul.btn__list
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 01
                                    span.btn__item--text Asesoría pensional
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 02
                                    span.btn__item--text Certificado de afiliación
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 03
                                    span.btn__item--text Requisitos para pensionarse
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 04
                                    span.btn__item--text Extracto o saldo
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
            li.pvr__caracteristicas--item
                .pvr__caracteristicas--item--content
                    .pvr__caracteristicas--item--image
                        img(src="images/Icono-Pension-Voluntarias.png", alt="")
                    h2.title Pensiones Obligatorias
                    p.text La pensión obligatoria es el derecho que construyes mediante los aportes que realizas para pensión.
                    ul.btn__list
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 01
                                    span.btn__item--text Asesoría pensional
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 02
                                    span.btn__item--text Certificado de afiliación
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 03
                                    span.btn__item--text Requisitos para pensionarse
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>
                        li
                            button.btn__item
                                span.btn__item--info
                                    span.btn__item--number 04
                                    span.btn__item--text Extracto o saldo
                                span.btn__item--icon
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.79625 5.70374C9.79625 6.26374 10.2463 6.70374 10.7963 6.70374H16.3863L5.49625 17.5937C5.10625 17.9837 5.10625 18.6137 5.49625 19.0037C5.88625 19.3937 6.51625 19.3937 6.90625 19.0037L17.7963 8.11374V13.7037C17.7963 14.2537 18.2463 14.7037 18.7963 14.7037C19.3463 14.7037 19.7963 14.2537 19.7963 13.7037V5.70374C19.7963 5.15374 19.3463 4.70374 18.7963 4.70374H10.7963C10.2463 4.70374 9.79625 5.15374 9.79625 5.70374Z" fill="black"/>
                                    </svg>

section.pvr__historias
    .pvr__historias--content
        h2.pvr__historias--title.prv-title.prv-txt-green-700 ¿Qué esperas para vivir tu Porvenir? 
        ul.pvr__historias--list
            li.pvr__historias--item
                .pvr__historias--item--content
                    .pvr__historias--item--image
                        img(src="images/Historias-Person.png", alt="")
                    h3.title Gilberto hace parte de los 2.099 pensionados en Porvenir del mes de septiembre.  
                    p.text “Pensionarme con Porvenir fue sencillo y me acompañaron en cada paso. Ahora disfruto de mis nietos con la tranquilidad de que mi futuro está asegurado".
            li.pvr__historias--item
                .pvr__historias--item--content
                    .pvr__historias--item--image
                        img(src="images/Historias-Person.png", alt="")
                    h3.title Con sus cesantías, Carolina cumplió uno de sus sueños en septiembre.  
                    p.text “Con mis cesantías de Porvenir logré pagar la primera cuota del apartamento que siempre quise. Porvenir, además, me acompañó en cada momento”.
            li.pvr__historias--item
                .pvr__historias--item--content
                    .pvr__historias--item--image
                        img(src="images/Historias-Person.png", alt="")
                    h3.title Camilo es una de los 8000 personas que ya disfrutan de la pensión voluntaria. 
                    p.text “Estuve buscando muchas opciones para invertir, y la pensión voluntaria de Porvenir fue la que más me impresionó”.

section.pvr__preguntas
    .pvr__preguntas--content
        h2.pvr__preguntas--title.prv-title.prv-txt-green-700 Preguntas frecuentes
        .pvr__preguntas--right
            .pvr__preguntas--list.accordion(data-multiselect="false")
                .pvr__preguntas--item
                    p.pvr__preguntas--item--header.accordion__tab
                        button.title ¿Hijos pueden heredar pensión de padres?
                    .pvr__preguntas--item--body.accordion__panel
                        .info.c-accordion__panel__content
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor mollitia assumenda neque harum enim, odio, aliquid eveniet rem et pariatur magnam perspiciatis quod corrupti quo. Quasi quos tenetur similique voluptatibus.
                .pvr__preguntas--item
                    p.pvr__preguntas--item--header.accordion__tab
                        button.title ¿Hijos pueden heredar pensión de padres?
                    .pvr__preguntas--item--body.accordion__panel
                        .info.c-accordion__panel__content
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor mollitia assumenda neque harum enim, odio, aliquid eveniet rem et pariatur magnam perspiciatis quod corrupti quo. Quasi quos tenetur similique voluptatibus.
                .pvr__preguntas--item
                    p.pvr__preguntas--item--header.accordion__tab
                        button.title ¿Hijos pueden heredar pensión de padres?
                    .pvr__preguntas--item--body.accordion__panel
                        .info.c-accordion__panel__content
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor mollitia assumenda neque harum enim, odio, aliquid eveniet rem et pariatur magnam perspiciatis quod corrupti quo. Quasi quos tenetur similique voluptatibus.
                .pvr__preguntas--item
                    p.pvr__preguntas--item--header.accordion__tab
                        button.title ¿Hijos pueden heredar pensión de padres?
                    .pvr__preguntas--item--body.accordion__panel
                        .info.c-accordion__panel__content
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor mollitia assumenda neque harum enim, odio, aliquid eveniet rem et pariatur magnam perspiciatis quod corrupti quo. Quasi quos tenetur similique voluptatibus.                                                        
        .pvr__preguntas--footer 
            a(href="http://", target="_blank", rel="noopener noreferrer" class="prv-btn") Consultar todas las preguntas

.prv-interest-section
    .container 
        h2.interest__title.prv-title.prv-txt-green-700 Esto también te podría interesar
        h2.interest__subtitle.prv-subtitle Esto también te podría interesar
    .container
        .prv-tab-horizontal
            ul.prv-nav-tab 
                li.tab__item.active(data-tab-extra="tab-1")
                    button.tab__link(type="button", role="tab") Artículo
                li.tab__item(data-tab-extra="tab-2")
                    button.tab__link(type="button", role="tab") Noticias
                li.tab__item(data-tab-extra="tab-3")
                    button.tab__link(type="button", role="tab") Tab Label
        .prv-tab-content
            .prv-tab-pane.active#tab-1(role="tabpanel")
                .prv-cards-tpl.prv-style-1
                    .cards-tpl-swiper
                        .swiper
                            .swiper-wrapper
                                .swiper-slide
                                    .prv-card.prv-style-1
                                        picture.prv-card__img-top 
                                            source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                            img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                        .prv-card__body
                                            p.card__badge.prv-txt-orange-300 Label
                                            h3.card__title.prv-txt-green-700 Title 1
                                            .card__description
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            .card__button
                                                a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                .swiper-slide
                                    .prv-card.prv-style-1
                                        picture.prv-card__img-top 
                                            source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                            img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                        .prv-card__body
                                            p.card__badge.prv-txt-orange-300 Label
                                            h3.card__title.prv-txt-green-700 Title 2
                                            .card__description
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            .card__button
                                                a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                .swiper-slide
                                    .prv-card.prv-style-1
                                        picture.prv-card__img-top 
                                            source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                            img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                        .prv-card__body
                                            p.card__badge.prv-txt-orange-300 Label
                                            h3.card__title.prv-txt-green-700 Title 3
                                            .card__description
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            .card__button
                                                a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                .swiper-slide
                                    .prv-card.prv-style-1
                                        picture.prv-card__img-top 
                                            source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                            img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                        .prv-card__body
                                            p.card__badge.prv-txt-orange-300 Label
                                            h3.card__title.prv-txt-green-700 Title 4
                                            .card__description
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            .card__button
                                                a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                .swiper-slide
                                    .prv-card.prv-style-1
                                        picture.prv-card__img-top 
                                            source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                            img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                        .prv-card__body
                                            p.card__badge.prv-txt-orange-300 Label
                                            h3.card__title.prv-txt-green-700 Title 5
                                            .card__description
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            .card__button
                                                a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                .swiper-slide
                                    .prv-card.prv-style-1
                                        picture.prv-card__img-top 
                                            source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                            img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                        .prv-card__body
                                            p.card__badge.prv-txt-orange-300 Label
                                            h3.card__title.prv-txt-green-700 Title 6
                                            .card__description
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            .card__button
                                                a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                
                            .cards-tpl-slider-controls
                                .cards-tpl-slider-btn.swiper-button-prev
                                    <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                                    <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
                                    </svg>
                                .swiper-pagination
                                .cards-tpl-slider-btn.swiper-button-next
                                    <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                                    <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
                                    </svg>
                    
            .prv-tab-pane#tab-2(role="tabpanel")
                .prv-cards-tpl.prv-style-1
                    .cards-tpl-swiper
                        .swiper
                            .swiper-wrapper
                                .swiper-slide
                                    .prv-card.prv-style-1
                                        picture.prv-card__img-top 
                                            source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                            img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                        .prv-card__body
                                            p.card__badge.prv-txt-orange-300 Label
                                            h3.card__title.prv-txt-green-700 Title 1-1
                                            .card__description
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            .card__button
                                                a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                .swiper-slide
                                    .prv-card.prv-style-1
                                        picture.prv-card__img-top 
                                            source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                            img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                        .prv-card__body
                                            p.card__badge.prv-txt-orange-300 Label
                                            h3.card__title.prv-txt-green-700 Title 2-1
                                            .card__description
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            .card__button
                                                a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                .swiper-slide
                                    .prv-card.prv-style-1
                                        picture.prv-card__img-top 
                                            source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                            img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                        .prv-card__body
                                            p.card__badge.prv-txt-orange-300 Label
                                            h3.card__title.prv-txt-green-700 Title 3-1
                                            .card__description
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            .card__button
                                                a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                .swiper-slide
                                    .prv-card.prv-style-1
                                        picture.prv-card__img-top 
                                            source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                            img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                        .prv-card__body
                                            p.card__badge.prv-txt-orange-300 Label
                                            h3.card__title.prv-txt-green-700 Title 4-1
                                            .card__description
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            .card__button
                                                a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                .swiper-slide
                                    .prv-card.prv-style-1
                                        picture.prv-card__img-top 
                                            source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                            img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                        .prv-card__body
                                            p.card__badge.prv-txt-orange-300 Label
                                            h3.card__title.prv-txt-green-700 Title 5-1
                                            .card__description
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            .card__button
                                                a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                .swiper-slide
                                    .prv-card.prv-style-1
                                        picture.prv-card__img-top 
                                            source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                            img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                        .prv-card__body
                                            p.card__badge.prv-txt-orange-300 Label
                                            h3.card__title.prv-txt-green-700 Title 6-1
                                            .card__description
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            .card__button
                                                a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                
                            .cards-tpl-slider-controls
                                .cards-tpl-slider-btn.swiper-button-prev
                                    <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                                    <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
                                    </svg>
                                .swiper-pagination
                                .cards-tpl-slider-btn.swiper-button-next
                                    <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                                    <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
                                    </svg>
                
            .prv-tab-pane#tab-3(role="tabpanel")
                .prv-cards-tpl.prv-style-1
                    .cards-tpl-swiper
                        .swiper
                            .swiper-wrapper
                                .swiper-slide
                                    .prv-card.prv-style-1
                                        picture.prv-card__img-top 
                                            source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                            img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                        .prv-card__body
                                            p.card__badge.prv-txt-orange-300 Label
                                            h3.card__title.prv-txt-green-700 Title 1-2
                                            .card__description
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            .card__button
                                                a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                .swiper-slide
                                    .prv-card.prv-style-1
                                        picture.prv-card__img-top 
                                            source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                            img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                        .prv-card__body
                                            p.card__badge.prv-txt-orange-300 Label
                                            h3.card__title.prv-txt-green-700 Title 2-2
                                            .card__description
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            .card__button
                                                a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                .swiper-slide
                                    .prv-card.prv-style-1
                                        picture.prv-card__img-top 
                                            source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                            img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                        .prv-card__body
                                            p.card__badge.prv-txt-orange-300 Label
                                            h3.card__title.prv-txt-green-700 Title 3-2
                                            .card__description
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            .card__button
                                                a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                .swiper-slide
                                    .prv-card.prv-style-1
                                        picture.prv-card__img-top 
                                            source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                            img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                        .prv-card__body
                                            p.card__badge.prv-txt-orange-300 Label
                                            h3.card__title.prv-txt-green-700 Title 4-2
                                            .card__description
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            .card__button
                                                a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                .swiper-slide
                                    .prv-card.prv-style-1
                                        picture.prv-card__img-top 
                                            source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                            img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                        .prv-card__body
                                            p.card__badge.prv-txt-orange-300 Label
                                            h3.card__title.prv-txt-green-700 Title 5-2
                                            .card__description
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            .card__button
                                                a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                .swiper-slide
                                    .prv-card.prv-style-1
                                        picture.prv-card__img-top 
                                            source(media="(min-width: 768px)", srcset="images/cards/card-image-desktop.jpg")
                                            img(src="images/cards/card-image-mobile.jpg", alt="title", width="380", heigh="186")
                                        .prv-card__body
                                            p.card__badge.prv-txt-orange-300 Label
                                            h3.card__title.prv-txt-green-700 Title 6-2
                                            .card__description
                                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                                            .card__button
                                                a.prv-btn.prv-btn--round-corner.prv-btn--orange(href="#") Ver más
                                
                            .cards-tpl-slider-controls
                                .cards-tpl-slider-btn.swiper-button-prev
                                    <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                                    <path d="M7 0.705006C6.61 0.315006 5.98 0.315006 5.59 0.705006L1 5.29501C0.610004 5.68501 0.610004 6.31501 1 6.70501L5.59 11.295C5.98 11.685 6.61 11.685 7 11.295C7.39 10.905 7.39 10.275 7 9.88501L3.12 5.99501L7 2.11501C7.38 1.72501 7.38 1.08501 7 0.705006Z" fill="currentColor"/>
                                    </svg>
                                .swiper-pagination
                                .cards-tpl-slider-btn.swiper-button-next
                                    <svg class="svg--inline" xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" role="img">
                                    <path d="M0.999989 0.710632C0.609989 1.10063 0.609989 1.73063 0.999989 2.12063L4.87999 6.00063L0.999989 9.88063C0.609989 10.2706 0.609989 10.9006 0.999989 11.2906C1.38999 11.6806 2.01999 11.6806 2.40999 11.2906L6.99999 6.70063C7.38999 6.31063 7.38999 5.68063 6.99999 5.29063L2.40999 0.700632C2.02999 0.320632 1.38999 0.320632 0.999989 0.710632Z" fill="currentColor"/>
                                    </svg>
                