.container
    h2 HEADBAND
    .tue-headband-tpl.tue-bg-magenta-0
        .headband-content
            .headband-row
                .headband-info
                    p.headband__title Tu primer #[span.title__sub MES GRATIS]
                
                .headband-image
                    picture.image__picture
                        source(media="(min-width: 768px)", srcset="images/banner/sticker-tu-primer-mes-desktop.png")
                        img(src="images/banner/sticker-tu-primer-mes-mobile.png", alt="tu primer mes gratis", width="140", heigh="120") 
    
    .tue-headband-tpl.tue-bg-magenta-25
        .headband-content
            .headband-row
                .headband-info
                    p.headband__title Tu primer #[span.title__sub MES GRATIS]
                
                .headband-image
                    picture.image__picture
                        source(media="(min-width: 768px)", srcset="images/banner/sticker-tu-primer-mes-desktop.png")
                        img(src="images/banner/sticker-tu-primer-mes-mobile.png", alt="tu primer mes gratis", width="140", heigh="120") 
    
    .tue-headband-tpl.tue-bg-magenta-50
        .headband-content
            .headband-row
                .headband-info
                    p.headband__title Tu primer #[span.title__sub MES GRATIS]
                
                .headband-image
                    picture.image__picture
                        source(media="(min-width: 768px)", srcset="images/banner/sticker-tu-primer-mes-desktop.png")
                        img(src="images/banner/sticker-tu-primer-mes-mobile.png", alt="tu primer mes gratis", width="140", heigh="120") 
    
    .tue-headband-tpl.tue-bg-magenta-75
        .headband-content
            .headband-row
                .headband-info
                    p.headband__title Tu primer #[span.title__sub MES GRATIS]
                
                .headband-image
                    picture.image__picture
                        source(media="(min-width: 768px)", srcset="images/banner/sticker-tu-primer-mes-desktop.png")
                        img(src="images/banner/sticker-tu-primer-mes-mobile.png", alt="tu primer mes gratis", width="140", heigh="120") 
    
    h2 FAQS
.tue-faq-tpl
    .container
        .faq-tpl__list.accordion(data-multiselect="false")
            .list__item
                h3.faq-acc__header.accordion__tab
                    button.title ¿Qué son los Combos Tuenti?
                .faq-acc__body.accordion__panel
                    .info.accordion__panel__content
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit urna vel diam rutrum, in volutpat elit pretium. Curabitur pulvinar nunc nec urna tristique fringilla. In hac habitasse platea dictumst. Vivamus laoreet mauris tortor, a aliquam massa eleifend vitae. Mauris vehicula dui sed mollis posuere. Fusce congue molestie metus non pharetra. Curabitur ac libero consequat, interdum nunc in, sodales lacus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam ac magna turpis.
            .list__item
                h3.faq-acc__header.accordion__tab
                    button.title ¿Qué son los Combos Tuenti?
                .faq-acc__body.accordion__panel
                    .info.accordion__panel__content
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit urna vel diam rutrum, in volutpat elit pretium. Curabitur pulvinar nunc nec urna tristique fringilla. In hac habitasse platea dictumst. Vivamus laoreet mauris tortor, a aliquam massa eleifend vitae. Mauris vehicula dui sed mollis posuere. Fusce congue molestie metus non pharetra. Curabitur ac libero consequat, interdum nunc in, sodales lacus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam ac magna turpis.
            .list__item
                h3.faq-acc__header.accordion__tab
                    button.title ¿Qué son los Combos Tuenti?
                .faq-acc__body.accordion__panel
                    .info.accordion__panel__content
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit urna vel diam rutrum, in volutpat elit pretium. Curabitur pulvinar nunc nec urna tristique fringilla. In hac habitasse platea dictumst. Vivamus laoreet mauris tortor, a aliquam massa eleifend vitae. Mauris vehicula dui sed mollis posuere. Fusce congue molestie metus non pharetra. Curabitur ac libero consequat, interdum nunc in, sodales lacus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam ac magna turpis.