.container
    h2 HEADBAND
    .tue-headband-tpl.tue-bg-magenta-0
        .headband-content
            .headband-row
                .headband-info
                    p.headband__title Tu primer #[span.title__sub MES GRATIS]
                
                picture.headband-image
                    source(media="(min-width: 768px)", srcset="images/banner/sticker-tu-primer-mes-desktop.png")
                    img(src="images/banner/sticker-tu-primer-mes-mobile.png", alt="tu primer mes gratis", width="140", heigh="120") 
    
    .tue-headband-tpl.tue-bg-magenta-25
        .headband-content
            .headband-row
                .headband-info
                    p.headband__title Tu primer #[span.title__sub MES GRATIS]
                
                picture.headband-image
                    source(media="(min-width: 768px)", srcset="images/banner/sticker-tu-primer-mes-desktop.png")
                    img(src="images/banner/sticker-tu-primer-mes-mobile.png", alt="tu primer mes gratis", width="140", heigh="120") 
    
    .tue-headband-tpl.tue-bg-magenta-50
        .headband-content
            .headband-row
                .headband-info
                    p.headband__title Tu primer #[span.title__sub MES GRATIS]
                
                picture.headband-image
                    source(media="(min-width: 768px)", srcset="images/banner/sticker-tu-primer-mes-desktop.png")
                    img(src="images/banner/sticker-tu-primer-mes-mobile.png", alt="tu primer mes gratis", width="140", heigh="120") 
    
    .tue-headband-tpl.tue-bg-magenta-75
        .headband-content
            .headband-row
                .headband-info
                    p.headband__title Tu primer #[span.title__sub MES GRATIS]
                
                picture.headband-image
                    source(media="(min-width: 768px)", srcset="images/banner/sticker-tu-primer-mes-desktop.png")
                    img(src="images/banner/sticker-tu-primer-mes-mobile.png", alt="tu primer mes gratis", width="140", heigh="120") 