.tue-offer-tpl.tue-bg-silver-25
    .container
        .offer-title.tue-title.tue-txt-center Las ofertas del mundo
        .offer-row
            .offer-col
                .prv-card.prv-style-2
                    picture.prv-card__image
                        source(media="(min-width: 768px)", srcset="images/offer_1.png")
                        img(src="images/offer_1.png", alt="", width="324", height="126")
                    .prv-card__body
                        p.card__label POR MÁS TUENTIS
                        h3.card__title.title__ellipsis Refiere y gana
                        .card__button
                            a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Referir amigos
            .offer-col
                .prv-card.prv-style-2
                    picture.prv-card__image
                        source(media="(min-width: 768px)", srcset="images/offer_1.png")
                        img(src="images/offer_1.png", alt="", width="324", height="126")
                    .prv-card__body
                        p.card__label POR MÁS TUENTIS
                        h3.card__title.title__ellipsis Refiere y gana
                        .card__button
                            a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Referir amigos
            .offer-col
                .prv-card.prv-style-2
                    picture.prv-card__image
                        source(media="(min-width: 768px)", srcset="images/offer_1.png")
                        img(src="images/offer_1.png", alt="", width="324", height="126")
                    .prv-card__body
                        p.card__label POR MÁS TUENTIS
                        h3.card__title.title__ellipsis Refiere y gana
                        .card__button
                            a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Referir amigos

.tue-offer-tpl.tue-bg-orange-0
    .container
        .offer-title.tue-title.tue-txt-center Las ofertas del mundo
        .offer-row
            .offer-col
                .prv-card.prv-style-2
                    picture.prv-card__image
                        source(media="(min-width: 768px)", srcset="images/offer_1.png")
                        img(src="images/offer_1.png", alt="", width="324", height="126")
                    .prv-card__body
                        p.card__label POR MÁS TUENTIS
                        h3.card__title.title__ellipsis Refiere y gana
                        .card__button
                            a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Referir amigos
            .offer-col
                .prv-card.prv-style-2
                    picture.prv-card__image
                        source(media="(min-width: 768px)", srcset="images/offer_1.png")
                        img(src="images/offer_1.png", alt="", width="324", height="126")
                    .prv-card__body
                        p.card__label POR MÁS TUENTIS
                        h3.card__title.title__ellipsis Refiere y gana
                        .card__button
                            a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Referir amigos
            .offer-col
                .prv-card.prv-style-2
                    picture.prv-card__image
                        source(media="(min-width: 768px)", srcset="images/offer_1.png")
                        img(src="images/offer_1.png", alt="", width="324", height="126")
                    .prv-card__body
                        p.card__label POR MÁS TUENTIS
                        h3.card__title.title__ellipsis Refiere y gana
                        .card__button
                            a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Referir amigos

.tue-offer-tpl.tue-bg-purple-0
    .container
        .offer-title.tue-title.tue-txt-center Las ofertas del mundo
        .offer-row
            .offer-col
                .prv-card.prv-style-2
                    picture.prv-card__image
                        source(media="(min-width: 768px)", srcset="images/offer_1.png")
                        img(src="images/offer_1.png", alt="", width="324", height="126")
                    .prv-card__body
                        p.card__label POR MÁS TUENTIS
                        h3.card__title.title__ellipsis Refiere y gana
                        .card__button
                            a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Referir amigos
            .offer-col
                .prv-card.prv-style-2
                    picture.prv-card__image
                        source(media="(min-width: 768px)", srcset="images/offer_1.png")
                        img(src="images/offer_1.png", alt="", width="324", height="126")
                    .prv-card__body
                        p.card__label POR MÁS TUENTIS
                        h3.card__title.title__ellipsis Refiere y gana
                        .card__button
                            a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Referir amigos
            .offer-col
                .prv-card.prv-style-2
                    picture.prv-card__image
                        source(media="(min-width: 768px)", srcset="images/offer_1.png")
                        img(src="images/offer_1.png", alt="", width="324", height="126")
                    .prv-card__body
                        p.card__label POR MÁS TUENTIS
                        h3.card__title.title__ellipsis Refiere y gana
                        .card__button
                            a.tue-btn.tue-btn--purple.tue-btn--round(href="#") Referir amigos
