<div class="container offer--content">
    <div class="offer--title">
      <h2 class="offer--title__ti">Las ofertas del mundo</h2>
    </div>
    <div class="offer--list">
        <div class="offer--item">
            <div class="offer--card">
                <div class="offer--card__top">
                    <picture class="offer--card__image">
                        <source media="(min-width: 1024px)" srcset="images/offer_1.png"><img class="offer--card__image" src="images/offer_1.png" alt="Oferta 1">
                    </picture>
                </div>
                <div class="offer--card__bottom">
                    <div class="offer--card__text">
                        <p class="offer--card__desc">Por más tuentis</p>
                        <h3 class="offer--card__title">Refiere y gana</h3>
                    </div>
                    <div class="offer--card__btn">
                        <a href="#" class="offer--card__bot  tue-btn tue-btn--purple tue-btn--round">Referir amigos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="offer--item">
            <div class="offer--card">
                <div class="offer--card__top">
                    <picture class="offer--card__image">
                        <source media="(min-width: 1024px)" srcset="images/offer_2.png"><img class="offer--card__image" src="images/offer_2.png" alt="Oferta 2">
                    </picture>
                </div>
                <div class="offer--card__bottom">
                    <div class="offer--card__text">
                        <p class="offer--card__desc">Somos 100% digitales</p>
                        <h3 class="offer--card__title">Beneficios de ser Tuenti</h3>
                    </div>
                    <div class="offer--card__btn">
                        <a href="#" class="offer--card__bot  tue-btn tue-btn--purple tue-btn--round">Conocer beneficios</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="offer--item">
            <div class="offer--card">
                <div class="offer--card__top">
                    <picture class="offer--card__image">
                        <source media="(min-width: 1024px)" srcset="images/offer_3.png"><img class="offer--card__image" src="images/offer_3.png" alt="Oferta 3">
                    </picture>
                </div>
                <div class="offer--card__bottom">
                    <div class="offer--card__text">
                        <p class="offer--card__desc">No te preocupes por los pagos</p>
                        <h3 class="offer--card__title">Suscríbete a tu combo</h3>
                    </div>
                    <div class="offer--card__btn">
                        <a href="#" class="offer--card__bot  tue-btn tue-btn--purple tue-btn--round">Activar suscripción</a>
                    </div>
                </div>
            </div>
        </div>               
    </div>
</div>

<div class="container offer--content offer--content--v2">
    <div class="offer--title">
      <h2 class="offer--title__ti">Las ofertas del mundo</h2>
    </div>
    <div class="offer--list">
        <div class="offer--item">
            <div class="offer--card">
                <div class="offer--card__top">
                    <picture class="offer--card__image">
                        <source media="(min-width: 1024px)" srcset="images/offer_1.png"><img class="offer--card__image" src="images/offer_1.png" alt="Oferta 1">
                    </picture>
                </div>
                <div class="offer--card__bottom">
                    <div class="offer--card__text">
                        <p class="offer--card__desc">Por más tuentis</p>
                        <h3 class="offer--card__title">Refiere y gana</h3>
                    </div>
                    <div class="offer--card__btn">
                        <a href="#" class="offer--card__bot  tue-btn tue-btn--purple tue-btn--round">Referir amigos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="offer--item">
            <div class="offer--card">
                <div class="offer--card__top">
                    <picture class="offer--card__image">
                        <source media="(min-width: 1024px)" srcset="images/offer_2.png"><img class="offer--card__image" src="images/offer_2.png" alt="Oferta 2">
                    </picture>
                </div>
                <div class="offer--card__bottom">
                    <div class="offer--card__text">
                        <p class="offer--card__desc">Somos 100% digitales</p>
                        <h3 class="offer--card__title">Beneficios de ser Tuenti</h3>
                    </div>
                    <div class="offer--card__btn">
                        <a href="#" class="offer--card__bot  tue-btn tue-btn--purple tue-btn--round">Conocer beneficios</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="offer--item">
            <div class="offer--card">
                <div class="offer--card__top">
                    <picture class="offer--card__image">
                        <source media="(min-width: 1024px)" srcset="images/offer_3.png"><img class="offer--card__image" src="images/offer_3.png" alt="Oferta 3">
                    </picture>
                </div>
                <div class="offer--card__bottom">
                    <div class="offer--card__text">
                        <p class="offer--card__desc">No te preocupes por los pagos</p>
                        <h3 class="offer--card__title">Suscríbete a tu combo</h3>
                    </div>
                    <div class="offer--card__btn">
                        <a href="#" class="offer--card__bot  tue-btn tue-btn--purple tue-btn--round">Activar suscripción</a>
                    </div>
                </div>
            </div>
        </div>               
    </div>
</div>

<div class="container offer--content offer--content--v3">
    <div class="offer--title">
      <h2 class="offer--title__ti">Las ofertas del mundo</h2>
    </div>
    <div class="offer--list">
        <div class="offer--item">
            <div class="offer--card">
                <div class="offer--card__top">
                    <picture class="offer--card__image">
                        <source media="(min-width: 1024px)" srcset="images/offer_1.png"><img class="offer--card__image" src="images/offer_1.png" alt="Oferta 1">
                    </picture>
                </div>
                <div class="offer--card__bottom">
                    <div class="offer--card__text">
                        <p class="offer--card__desc">Por más tuentis</p>
                        <h3 class="offer--card__title">Refiere y gana</h3>
                    </div>
                    <div class="offer--card__btn">
                        <a href="#" class="offer--card__bot  tue-btn tue-btn--purple tue-btn--round">Referir amigos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="offer--item">
            <div class="offer--card">
                <div class="offer--card__top">
                    <picture class="offer--card__image">
                        <source media="(min-width: 1024px)" srcset="images/offer_2.png"><img class="offer--card__image" src="images/offer_2.png" alt="Oferta 2">
                    </picture>
                </div>
                <div class="offer--card__bottom">
                    <div class="offer--card__text">
                        <p class="offer--card__desc">Somos 100% digitales</p>
                        <h3 class="offer--card__title">Beneficios de ser Tuenti</h3>
                    </div>
                    <div class="offer--card__btn">
                        <a href="#" class="offer--card__bot  tue-btn tue-btn--purple tue-btn--round">Conocer beneficios</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="offer--item">
            <div class="offer--card">
                <div class="offer--card__top">
                    <picture class="offer--card__image">
                        <source media="(min-width: 1024px)" srcset="images/offer_3.png"><img class="offer--card__image" src="images/offer_3.png" alt="Oferta 3">
                    </picture>
                </div>
                <div class="offer--card__bottom">
                    <div class="offer--card__text">
                        <p class="offer--card__desc">No te preocupes por los pagos</p>
                        <h3 class="offer--card__title">Suscríbete a tu combo</h3>
                    </div>
                    <div class="offer--card__btn">
                        <a href="#" class="offer--card__bot  tue-btn tue-btn--purple tue-btn--round">Activar suscripción</a>
                    </div>
                </div>
            </div>
        </div>               
    </div>
</div>
