.tuenti__banner
    .tuenti__banner--content
        .tuenti__banner--body
            .tuenti__banner--left 
                p.text Descarga la App Tuenti y
                h1.title Te regalamos 1 GB
                a(href="#").button Descargar app
            .tuenti__banner--right
                picture.tuenti__banner--image
                    source(media="(min-width: 1024px)" srcset="images/banner-1-desktop.png")
                    img(src="images/banner-1-desktop.png", alt="").picture
.tuenti__banner.tuenti__banner--v2
    .tuenti__banner--content
        .tuenti__banner--body
            .tuenti__banner--left 
                p.text ¡Pásate a Tuenti! Tu primer mes 
                h1.title ES 100% GRATIS
                a(href="#").button Cambiar a Tuenti
            .tuenti__banner--right
                picture.tuenti__banner--image
                    source(media="(min-width: 1024px)" srcset="images/banner-2-desktop.png")
                    img(src="images/banner-2-desktop.png", alt="").picture
.tuenti__acciones
    .tuenti__banner--content
        .tuenti__acciones--left
            h2.title Tuenti es 100% digital
            p.text Accede a la opción que necesites con un solo clic y disfruta de múltiples beneficios 
                b ¡sin contratos!
                a(href="#")  preguntas
        .tuenti__acciones--right
            ul.tuenti__acciones--list
                li.tuenti__acciones--item
                    .tuenti__acciones--card
                        .tuenti__acciones--card__left
                            picture.tuenti__acciones--card__image
                                source(media="(min-width: 1024px)" srcset="images/acciones-icono-1-desktop.png")
                                img(src="images/acciones-icono-1-desktop.png", alt="").picture
                        .tuenti__acciones--card__right
                            p.text Suscripción a combos