:root {
  // Fonts
  --fontCatamaran: "Catamaran", Helvetica, Arial, sans-serif;
  --fontIcomoon: "icomoon";
  // Colores
  --transparent     : transparent;
  --color-blue      : #0b5fff;
  --color-primary   : #FF0066;
  --color-fuchsia-300   : #E90A66;
  --color-white     : #FFFFFF;
  --color-gray-20   : #f2f4f6;
  --color-blue-300  : #372E7D;
}
