footer.tue-footer
    .footer__nav
        .container
            .nav__brand
                .footer__logo
                    a.logo__link(href="https://www.tuenti.ec/", title="Tuenti") 
                        picture.logo__picture 
                            source(media="(min-width: 768px)", srcset="images/logo/logo-tuenti-ec-blanco.png")
                            img(src="images/logo/logo-tuenti-ec-blanco.png", alt="logo tuenti ec", width="139", heigh="28")
            .nav__wrapper
                .nav__menu
                    .nav__wrapper
                        .nav__column
                            .footer__menu.menu-accordion 
                                p.menu-accordion__header.menu__title 
                                    button.menu-accordion__button Conoce más de Tuenti
                                        span.icon: svg: use(xlink:href=iconPath+'arrow-down')
                                .menu-accordion__collapse
                                    .menu-accordion__body
                                        ul.menu__links 
                                            li: a(href="https://www.tuenti.ec/por-que-tuenti") ¿Qué es Tuenti?
                                            li: a(href="https://www.tuenti.ec/pasarme-a-tuenti-con-linea-nueva") Pedir tu chip Tuenti
                                            li: a(href="https://www.tuenti.ec/portarse-a-tuenti") Portarse a tuenti
                                            li: a(href="https://www.tuenti.ec/referidos-tuenti") Referidos Tuenti
                                            li: a(href="https://www.tuenti.ec/app") App Tuenti
                                            li: a(href="https://www.tuenti.ec/prepago-tuenti") Prepago Tuenti
                                
                        .nav__column 
                            .footer__menu.menu-accordion 
                                p.menu-accordion__header.menu__title 
                                    button.menu-accordion__button(type="button") Combos Tuenti y Recarga
                                        span.icon: svg: use(xlink:href=iconPath+'arrow-down')
                                .menu-accordion__collapse
                                    .menu-accordion__body
                                        ul.menu__links 
                                            li: a(href="https://www.tuenti.ec/recarga-online") Recarga online tu Tuenti
                                            li: a(href="https://www.tuenti.ec/compra-comodines-tuenti") Comprar Comodines
                                            li: a(href="https://www.tuenti.ec/comprar-combos-tuenti") Comprar Combos Tuenti
                                            li: a(href="#") Compra de celulares Online
                        .nav__column 
                            .footer__menu.menu-accordion 
                                p.menu-accordion__header.menu__title 
                                    button.menu-accordion__button(type="button") Consultas sobre Tuenti
                                        span.icon: svg: use(xlink:href=iconPath+'arrow-down')
                                .menu-accordion__collapse
                                    .menu-accordion__body
                                        ul.menu__links 
                                            li: a(href="https://www.tuenti.ec/centro-de-ayuda-tuenti") Ayuda
                                            li: a(href="https://www.tuenti.ec/preguntas-frecuentes") Lo más preguntado
                                            li: a(href="https://comunidad.tuenti.ec/") Comunidad Tuenti
                                            li: a(href="https://www.tuenti.ec/avisos-legales") Avisos legales
                                            li: a(href="https://www.tuenti.ec/buen-uso-de-numero-de-emergencia") 911
                        .nav__column
                            .footer__menu
                                p.menu__title Descarga App Tuenti
                                ul.footer__apps 
                                    li 
                                        a.link-app(href="https://play.google.com/store/apps/details?id=ec.otecel.tuenti", target="_blank", rel="noopener noreferrer")
                                            picture.picture-app
                                                source(media="(min-width: 768px)", srcset="images/logo/descargar-google-play.png")
                                                img(src="images/logo/descargar-google-play.png", alt="logo app store", width="146", heigh="45") 
                                    li  
                                        a.link-app(href="https://apps.apple.com/us/app/id1526222776", target="_blank", rel="noopener noreferrer")
                                            picture.picture-app
                                                source(media="(min-width: 768px)", srcset="images/logo/descargar-app-store.png")
                                                img(src="images/logo/descargar-app-store.png", alt="logo app store", width="146", heigh="45") 
                                //.menu-accordion__collapse
                                    .menu-accordion__body
                                        ul.menu__links 
                                            li: a(href="#") Pensiones Obligatorias
                                            li: a(href="#") Rentabilidad y fichas Pensiones Obligatorias
                                            li: a(href="#") Cesantías
                                            li: a(href="#") Rentabilidad y fichas Cesantías
                                            li: a(href="#") Pensiones Voluntarias
                                            li: a(href="#") Rentabilidad y fichas Pensiones Voluntarias
    .footer__copyright
        .container
            .copyright__text 
                p Copyright © 2023
            //.footer__groups
                .groups__item
                    a.groups__link(href="https://www.grupoaval.com/", target="_blank", rel="noopener noreferrer") 
                        picture.groups__image 
                            source(media="(min-width: 768px)", srcset="images/logo/logo-grupo-aval.png")
                            img(src="images/logo/logo-grupo-aval-mobile.png", alt="logo grupo aval", width="164", heigh="33")
                .groups__item
                    a.groups__link(href="#", target="_blank", rel="noopener noreferrer") 
                        picture.groups__image 
                            source(media="(min-width: 768px)", srcset="images/logo/logo-CCCE-blanco.png")
                            img(src="images/logo/logo-CCCE-blanco-mobile.png", alt="logo ccce", width="164", heigh="53")
                .groups__item
                    a.groups__link(href="https://www.superfinanciera.gov.co/", target="_blank", rel="noopener noreferrer") 
                        picture.groups__image 
                            source(media="(min-width: 768px)", srcset="images/logo/logo-vigilado-superintendencia-financiera-de-colombia-blanco.png")
                            img(src="images/logo/logo-vigilado-superintendencia-financiera-de-colombia-blanco-mobile.png", alt="logo vigilado superintendencia financiera de colombia", width="304", heigh="21")
