footer.prv-footer
    .footer__nav
        .container
            .nav__wrapper
                .nav__brand
                    .footer__logo
                        a.logo__link(href="https://www.porvenir.com.co/", title="Porvenir") 
                            picture.logo__picture 
                                source(media="(min-width: 768px)", srcset="images/logo/logo-porvenir-blanco.png")
                                img(src="images/logo/logo-porvenir-blanco.png", alt="logo porvenir", width="113", heigh="87")
                    .footer__social
                        p.menu__title Síguenos en:
                        ul.social__list 
                            li
                                a(href="#", target="_blank", rel="noopener noreferrer", title="Twitter")
                                    span.icon: svg: use(xlink:href=iconPath+'twitter') 
                            li
                                a(href="#", target="_blank", rel="noopener noreferrer", title="Facebook")
                                    span.icon: svg: use(xlink:href=iconPath+'facebook')
                            li
                                a(href="#", target="_blank", rel="noopener noreferrer", title="Instagram")
                                    span.icon: svg: use(xlink:href=iconPath+'instagram')
                            li
                                a(href="#", target="_blank", rel="noopener noreferrer", title="Youtube")
                                    span.icon: svg: use(xlink:href=iconPath+'youtube')
                .nav__menu
                    .nav__wrapper
                        .nav__column
                            .footer__menu.menu-accordion 
                                p.menu-accordion__header.menu__title 
                                    button.menu-accordion__button Documentación
                                        span.icon: svg: use(xlink:href=iconPath+'arrow-down')
                                .menu-accordion__collapse
                                    .menu-accordion__body
                                        ul.menu__links 
                                            li: a(href="#") Ir a todos los documentos
                                            li: a(href="#") Comisiones de Administración
                                            li: a(href="#") Consulta de solicitudes y quejas
                                 
                                p.menu-accordion__header.menu__title 
                                    button.menu-accordion__button Noticias
                                        span.icon: svg: use(xlink:href=iconPath+'arrow-down')
                                .menu-accordion__collapse
                                    .menu-accordion__body
                                        ul.menu__links 
                                            li: a(href="#") Todas las noticias
                                            li: a(href="#") Comunicados de prensa
                        .nav__column 
                            .footer__menu.menu-accordion 
                                p.menu-accordion__header.menu__title 
                                    button.menu-accordion__button(type="button") Corporativo
                                        span.icon: svg: use(xlink:href=iconPath+'arrow-down')
                                .menu-accordion__collapse
                                    .menu-accordion__body
                                        ul.menu__links 
                                            li: a(href="#") Mapa del sitio
                                            li: a(href="#") Sobre nosotros
                                            li: a(href="#") Estados financieros
                                            li: a(href="#") Reconocimientos
                                            li: a(href="#") Inclusión a la diversidad y a los afiliados con discapacidades
                                            li: a(href="#") Sostenibilidad
                        .nav__column 
                            .footer__menu.menu-accordion 
                                p.menu-accordion__header.menu__title 
                                    button.menu-accordion__button(type="button") Legal
                                        span.icon: svg: use(xlink:href=iconPath+'arrow-down')
                                .menu-accordion__collapse
                                    .menu-accordion__body
                                        ul.menu__links 
                                            li: a(href="#") Línea ética
                                            li: a(href="#") Transparencia y acceso a la información
                                            li: a(href="#") Protección de datos personales
                                            li: a(href="#") Sistema de atención al consumidor
                                            li: a(href="#") Defensor del consumidor financiero
                        .nav__column
                            .footer__menu.menu-accordion
                                p.menu-accordion__header.menu__title 
                                    button.menu-accordion__button(type="button") Productos
                                        span.icon: svg: use(xlink:href=iconPath+'arrow-down')
                                .menu-accordion__collapse
                                    .menu-accordion__body
                                        ul.menu__links 
                                            li: a(href="#") Pensiones Obligatorias
                                            li: a(href="#") Rentabilidad y fichas Pensiones Obligatorias
                                            li: a(href="#") Cesantías
                                            li: a(href="#") Rentabilidad y fichas Cesantías
                                            li: a(href="#") Pensiones Voluntarias
                                            li: a(href="#") Rentabilidad y fichas Pensiones Voluntarias
    .footer__copyright
        .container
            .copyright__text 
                p Para cualquier contacto con nuestra entidad escríbenos a #[a(href="https://contacto.porvenir.com.co/", target="_blank", rel="noopener noreferrer") Ventanilla Virtual] Para notificaciones judiciales, escríbenos a #[a(href="mailto:notificacionesjudiciales@porvenir.com.co") notificacionesjudiciales@porvenir.com.co] o consulta información en nuestra página haciendo clic #[a(href="https://www.porvenir.com.co/web/personas/notificaciones-judiciales", target="_blank", rel="noopener noreferrer") aquí] Cuentas con un Defensor del Consumidor Financiero, Dra. Ana María Giraldo Rincón ubicado en la carrera 10 # 97A-13 Oficina 502 en Bogotá, Teléfono: 601 610 81 64, #[a(href="mailto:defensoriaporvenir@legalcrc.com") defensoriaporvenir@legalcrc.com], quien dará trámite a tu queja de forma objetiva y gratuita. © 2021, Todos los derechos reservados por Porvenir S.A
            .footer__groups
                .groups__item
                    a.groups__link(href="https://www.grupoaval.com/", target="_blank", rel="noopener noreferrer") 
                        picture.groups__image 
                            source(media="(min-width: 768px)", srcset="images/logo/logo-grupo-aval.png")
                            img(src="images/logo/logo-grupo-aval-mobile.png", alt="logo grupo aval", width="164", heigh="33")
                .groups__item
                    a.groups__link(href="#", target="_blank", rel="noopener noreferrer") 
                        picture.groups__image 
                            source(media="(min-width: 768px)", srcset="images/logo/logo-CCCE-blanco.png")
                            img(src="images/logo/logo-CCCE-blanco-mobile.png", alt="logo ccce", width="164", heigh="53")
                .groups__item
                    a.groups__link(href="https://www.superfinanciera.gov.co/", target="_blank", rel="noopener noreferrer") 
                        picture.groups__image 
                            source(media="(min-width: 768px)", srcset="images/logo/logo-vigilado-superintendencia-financiera-de-colombia-blanco.png")
                            img(src="images/logo/logo-vigilado-superintendencia-financiera-de-colombia-blanco-mobile.png", alt="logo vigilado superintendencia financiera de colombia", width="304", heigh="21")
