footer.tue-footer
    .footer__nav
        .container
            .nav__brand
                .footer__logo
                    a.logo__link(href="https://www.tuenti.ec/", title="Tuenti") 
                        picture.logo__picture 
                            source(media="(min-width: 768px)", srcset="images/logo/logo-tuenti-ec-blanco.png")
                            img(src="images/logo/logo-tuenti-ec-blanco.png", alt="logo tuenti ec", width="139", heigh="28")
            .nav__wrapper
                .nav__menu
                    .nav__wrapper
                        .nav__column
                            .footer__menu.menu-accordion 
                                p.menu-accordion__header.menu__title 
                                    button.menu-accordion__button Conoce más de Tuenti
                                        span.icon: svg: use(xlink:href=iconPath+'arrow-down')
                                .menu-accordion__collapse
                                    .menu-accordion__body
                                        ul.menu__links 
                                            li: a(href="#") ¿Qué es Tuenti?
                                            li: a(href="#") Pedir tu chip Tuenti
                                            li: a(href="#") Portarse a tuenti
                                            li: a(href="#") Referidos Tuenti
                                            li: a(href="#") App Tuenti
                                            li: a(href="#") Prepago Tuenti
                                
                        .nav__column 
                            .footer__menu.menu-accordion 
                                p.menu-accordion__header.menu__title 
                                    button.menu-accordion__button(type="button") Combos Tuenti y Recarga
                                        span.icon: svg: use(xlink:href=iconPath+'arrow-down')
                                .menu-accordion__collapse
                                    .menu-accordion__body
                                        ul.menu__links 
                                            li: a(href="#") Recarga online tu Tuenti
                                            li: a(href="#") Comprar Comodines
                                            li: a(href="#") Comprar Combos Tuenti
                                            li: a(href="#") Compra de celulares Online
                        .nav__column 
                            .footer__menu.menu-accordion 
                                p.menu-accordion__header.menu__title 
                                    button.menu-accordion__button(type="button") Consultas sobre Tuenti
                                        span.icon: svg: use(xlink:href=iconPath+'arrow-down')
                                .menu-accordion__collapse
                                    .menu-accordion__body
                                        ul.menu__links 
                                            li: a(href="#") Ayuda
                                            li: a(href="#") Lo más preguntado
                                            li: a(href="#") Comunidad Tuenti
                                            li: a(href="#") Avisos legales
                                            li: a(href="#") 911
                        .nav__column
                            .footer__menu.menu-accordion
                                p.menu-accordion__header.menu__title 
                                    button.menu-accordion__button(type="button") Descarga App Tuenti
                                        span.icon: svg: use(xlink:href=iconPath+'arrow-down')
                                ul 
                                    li 
                                        a(href="#")
                                            picture
                                                source(media="(min-width: 768px)", srcset="images/logo/descargar-google-play.png")
                                                img(src="images/logo/descargar-google-play.png", alt="logo app store", width="146", heigh="45") 
                                    li 
                                        a(href="#")
                                            picture
                                                source(media="(min-width: 768px)", srcset="images/logo/descargar-app-store.png")
                                                img(src="images/logo/descargar-app-store.png", alt="logo app store", width="146", heigh="45") 
                                //.menu-accordion__collapse
                                    .menu-accordion__body
                                        ul.menu__links 
                                            li: a(href="#") Pensiones Obligatorias
                                            li: a(href="#") Rentabilidad y fichas Pensiones Obligatorias
                                            li: a(href="#") Cesantías
                                            li: a(href="#") Rentabilidad y fichas Cesantías
                                            li: a(href="#") Pensiones Voluntarias
                                            li: a(href="#") Rentabilidad y fichas Pensiones Voluntarias
    .footer__copyright
        .container
            .copyright__text 
                p Copyright © 2023
            //.footer__groups
                .groups__item
                    a.groups__link(href="https://www.grupoaval.com/", target="_blank", rel="noopener noreferrer") 
                        picture.groups__image 
                            source(media="(min-width: 768px)", srcset="images/logo/logo-grupo-aval.png")
                            img(src="images/logo/logo-grupo-aval-mobile.png", alt="logo grupo aval", width="164", heigh="33")
                .groups__item
                    a.groups__link(href="#", target="_blank", rel="noopener noreferrer") 
                        picture.groups__image 
                            source(media="(min-width: 768px)", srcset="images/logo/logo-CCCE-blanco.png")
                            img(src="images/logo/logo-CCCE-blanco-mobile.png", alt="logo ccce", width="164", heigh="53")
                .groups__item
                    a.groups__link(href="https://www.superfinanciera.gov.co/", target="_blank", rel="noopener noreferrer") 
                        picture.groups__image 
                            source(media="(min-width: 768px)", srcset="images/logo/logo-vigilado-superintendencia-financiera-de-colombia-blanco.png")
                            img(src="images/logo/logo-vigilado-superintendencia-financiera-de-colombia-blanco-mobile.png", alt="logo vigilado superintendencia financiera de colombia", width="304", heigh="21")
