title Web Design
meta(charset='utf-8')
meta(name='robots', content='noindex,nofollow')
meta(name='description' content='{page-description}')
meta(name='viewport' content='width=device-width, initial-scale=1')
include ../structure/favicon
link(rel='stylesheet' href='css/main.css')

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">