header.pvr__header 
    div.header--quicklinks
        div.dropdown
            button(href="/personas" class="dropdown--toggle") 
                span.text Personas 
                span.icon: svg: use(xlink:href=iconPath+'chevron-down')               
            ul.dropdown--menu#quickLinks
                li.dropdown--item.active
                    a(href="/inicio.html", target="_blank", rel="noopener noreferrer" class="link") Personas
                li.dropdown--item
                    a(href="/empresas.html", target="_blank", rel="noopener noreferrer" class="link") Empresas
                li.dropdown--item
                    a(href="/prensionados.html", target="_blank", rel="noopener noreferrer" class="link") Pensionados
                li.dropdown--item.offset--item
                    a(href="/servicios.html", target="_blank", rel="noopener noreferrer" class="link") Servicios en línea
                li.dropdown--item
                    a(href="/certificados.html", target="_blank", rel="noopener noreferrer" class="link") Certificados y extractos 
                li.dropdown--item
                    a(href="/ayuda.html", target="_blank", rel="noopener noreferrer" class="link") Ayuda 

    .header--navigation
        .content
            .brand 
                a(href="/" class="brand__link") 
                    picture 
                        source(media="(min-width: 992px)", srcset="images/header/brand-desktop.png")
                        img(src="images/header/brand-mobile.png", alt="Logo Porvenir", srcset="images/header/brand-mobile.png" class="image")

            .navigation
                .navigation--desktop              
                .navigation--login
                    a(href="#" class="btn--login") 
                        span.text Iniciar sesión 
                        span.icon: svg: use(xlink:href=iconPath+'arrow-right')
                .navigation--action
                    button(type="button" class="btn--search") 
                        span.text buscar 
                        span.icon: svg: use(xlink:href=iconPath+'search') 
                    button(type="button" class="btn--menu" id="btnNav") 
                        span.text Menu
                        span.icon-left
                        span.icon-right
            .navigation--menu   

    .global__navigation      
        nav.nav__menu#navigation
            ul.menu--list.accordion__list(data-multiselect="false")
                li.menu--item
                    a(href="/pensiones-obligatorias" class="link accordion__tab") 
                        span.icon: svg: use(xlink:href=iconPath+'piggy-bank') 
                        span.text Pensiones Obligatorias
                        span.icon.icon--toggle: svg: use(xlink:href=iconPath+'chevron-down')
                    ul.submenu--list.accordion__panel
                        li.submenu--item 
                            a(href="/", target="_blank", rel="noopener noreferrer", class="sub-link") Servicios en línea
                        li.submenu--item 
                            a(href="/", target="_blank", rel="noopener noreferrer", class="sub-link") Articulo de interés
                        li.submenu--item 
                            a(href="/", target="_blank", rel="noopener noreferrer", class="sub-link") Preguntas frecuentes
                li.menu--item
                    a(href="/cesantias" class="link accordion__tab") 
                        span.icon: svg: use(xlink:href=iconPath+'home') 
                        span.text Cesantías
                        span.icon.icon--toggle: svg: use(xlink:href=iconPath+'chevron-down')
                    ul.submenu--list.accordion__panel
                        li.submenu--item 
                            a(href="/", target="_blank", rel="noopener noreferrer", class="sub-link") Servicios en línea
                        li.submenu--item 
                            a(href="/", target="_blank", rel="noopener noreferrer", class="sub-link") Articulo de interés
                li.menu--item
                    a(href="pensiones voluntarias" class="link accordion__tab") 
                        span.icon: svg: use(xlink:href=iconPath+'coins') 
                        span.text Pensiones Voluntarias
                        span.icon.icon--toggle: svg: use(xlink:href=iconPath+'chevron-down')
                    ul.submenu--list.accordion__panel
                        li.submenu--item 
                            a(href="/", target="_blank", rel="noopener noreferrer", class="sub-link") Servicios en línea       

        .navigation--search
            form(action="", method="get") 
                input(type="search" id="search" name="q" class="search__input")
                label(for="search" class="search__label") Buscar
                button(type="submit" value="Buscar" class="search__btn") 
                    span.text buscar
                    span.icon: svg: use(xlink:href=iconPath+'search') 
