include ../structure/variables
doctype html
html(lang='es')
    head
        include ../structure/head

    body.body
        h1.visually--hidden Tuenti Ecuador
        include ../structure/header
        
        main(role="main")
            include ../includes/offer
        include ../structure/footer

        include ../structure/scripts