include ../structure/variables
doctype html
html(lang='es')
    head
        include ../structure/head-tuenti
    body.body
        main(role="main")
            include ../includes/tuenti-banner
        include ../structure/scripts